# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.pnpm-store/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OpenAPI
openapi.json

*storybook.log
storybook-static

log/*

openapi.json